@{
	ViewBag.Title = "Error";
}

<div class="text-center">
	<h1>Error</h1>
	@if (!ViewData.ContainsKey("ErrorMessage"))
	{
		ViewData["ErrorMessage"] = "Unknown erroe occured";
	}

	<h2 class="text-red">@ViewBag.ErrorMessage</h2> 
	<img src="~/error.png" width="500px" style="margin-top:100px"></img>
</div>